.rs-17 .panel-group {
	padding-bottom: 50px;
}
.rs-17 .panel-group .panel-default > .panel-heading {
    border-top: 4px solid #4ec67f;
	padding-top: 13px;
	padding-bottom: 13px;
}
.rs-17 .panel-group .panel-heading,
.rs-17 .panel-group .panel-group .panel {
    border-radius: 0;
}
.rs-17 .panel-group .panel-title {
    color: #212121;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
}
.rs-17 .panel-group .panel-title a:hover,
.rs-17 .panel-group .panel-title a:focus{
	color: #4ec67f;
	text-decoration: none;
}
.rs-17 .panel-group .panel-title a i{
	padding-right: 7px;
	transform: rotate(90deg);
	vertical-align: text-bottom;
	transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.rs-17 .panel-group .panel-title a.collapsed i{
	transform: rotate(0deg);
	vertical-align: baseline;
}
.rs-17 .panel-group .nav-stacked > li {
	border-bottom: solid 1px #eee;
}
.rs-17 .panel-group .nav-stacked > li:last-child{
	border-bottom: none;
	margin-bottom: -15px;
}
.rs-17 .panel-group .nav-stacked > li > a,
.rs-17 .panel-group .nav-stacked > li {
    background: none;
    color: #424242;
    font-weight: 400;
}
.rs-17 .panel-group .nav-stacked > li > a{
	padding: 12px 10px;
	transition: none;
}
.rs-17 .panel-group .nav-stacked > li > a:hover,
.rs-17 .panel-group .nav-stacked > li > a:focus,
.rs-17 .panel-group .nav-stacked > li.active > a,
.rs-17 .panel-group .nav-stacked > li.active {
    font-weight: 700;
}
.rs-17 .panel-group .nav-stacked > li.open > .dropdown-menu{
	position:static;
	float: none;
	box-shadow: none;
	margin: 0 9px 0;
	border-radius: 0;
	border: none;
	border-left: 1px solid #dddddd;
	padding: 0;
}
.rs-17 .panel-group .nav-stacked > li.open > .dropdown-menu{
	margin-bottom: 15px;
}
.rs-17 .panel-group .nav-stacked > li.open > .dropdown-menu>li>a{
	white-space: normal;
	font-size: 12px;
	padding: 3px 16px;
	line-height: 1.5;
	transition: none;
	background: none;
	font-weight: 300;
}
.rs-17 .panel-group .nav-stacked > li.open > .dropdown-menu>li>a:hover,
.rs-17 .panel-group .nav-stacked > li.open > .dropdown-menu>li>a:focus{
	font-weight: 700;
	background: none;
}
.rs-17 .panel-group .nav-stacked > li.open > .dropdown-menu>li.open>.dropdown-menu,
.rs-17 .panel-group .nav-stacked > li.open > .dropdown-menu>li.dropdown-submenu>.dropdown-menu{
	position:static;
	float: none;
	box-shadow: none;
	margin: 0 15px 0;
	border-radius: 0;
	border: none;
	border-left: 1px solid #dddddd;
	padding: 0;
}

.rs-17 .panel-group .nav-stacked > li.open > .dropdown-menu>li.open>.dropdown-menu>li>a,
.rs-17 .panel-group .nav-stacked > li.open > .dropdown-menu>li.dropdown-submenu>.dropdown-menu>li>a{
	white-space: normal;
	font-size: 12px;
	padding: 3px 16px;
	line-height: 1.5;
	transition: none;
	background: none;
	font-weight: 300;
}
.rs-17 .panel-group .nav-stacked > li.open > .dropdown-menu>li.open>.dropdown-menu>li>a:hover,
.rs-17 .panel-group .nav-stacked > li.open > .dropdown-menu>li.open>.dropdown-menu>li>a:focus,
.rs-17 .panel-group .nav-stacked > li.open > .dropdown-menu>li.dropdown-submenu>.dropdown-menu>li>a:hover,
.rs-17 .panel-group .nav-stacked > li.open > .dropdown-menu>li.dropdown-submenu>.dropdown-menu>li>a:focus{
	font-weight: 700;
	background: none;
}
.rs-17 .panel-group .nav-stacked > li > a > .badge {
    color: #fff;
    background-color: #777777;
	font-weight: 400;
	font-size: 11px;
}
.rs-17 .panel-group .nav-stacked>li+li {
    margin-top: 0;
}

.rs-17 .panel-group .color-filter span{
	border: 1px solid #DDDDDD;
    display: inline-block;
    height: 14px;
    margin: 0 3px 0 1px;
    width: 14px;
}
.rs-17 .panel-group .maxheight300 {
    max-height: 300px;
}
.rs-17 .panel-group .category-top h1{
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 25px;
}
.rs-17 .panel-group .category-top p{
	margin-bottom: 15px;
}
.rs-17 .panel-group .product-filter {
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    clear: both;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 7px;
    padding-top: 10px;
    margin-top: 30px;
}
.rs-17 .panel-group .product-filter p {
    font-size: 14px;
    margin-top: 7px;
	color: #000;
	font-weight: 300;
}
.rs-17 .panel-group .change-view {
    margin-right: 10px;
}
.rs-17 .panel-group .change-view a {
    border: 1px solid #CCCCCC;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    height: 34px;
    line-height: 23px;
    margin-left: 5px;
    overflow: hidden;
    padding: 5px 8px;
    border-radius: 3px;
	color: #444444;
}
.rs-17 .panel-group .change-view a:hover,
.rs-17 .panel-group .change-view a:focus,
.rs-17 .panel-group .change-view a.active{
	color: #4ec67f;
	border-color: #4ec67f;
}
.rs-17 .panel-group .categoryProduct{
	margin-left: -11px;
  margin-right: -19px;
	display: flex;
	flex-wrap: wrap;
}
.rs-17 .panel-group .product-item{
    display: inline-block;
	float: none;
	vertical-align: top;
	margin-left: -4px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    margin-bottom: 30px;
    height: 475px;
}
.rs-17 .panel-group .list-view .product-item  {
    display: block;
    height: auto !important;
    width: 100% !important;
    overflow: hidden;
    margin-bottom: 20px;
}
.rs-17 .panel-group .quickview {
	display: block;
	top: 50%;
	margin-top: -25px;
    max-height: 50px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
    visibility: hidden;
}
.rs-17 .panel-group .product-item h4 {
    margin: 0;
	height: 42px;
    overflow: hidden;
    display: block;
    line-height: 21px;
    margin: 20px 0 5px;
    padding: 0;
}
.rs-17 .panel-group .product-item h4 a {
    font-weight: 700;
    color: #424242;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}
.rs-17 .panel-group.description{
	padding-left: 5px;
	padding-right: 5px;
}
.rs-17 .panel-group .description p{
	color: #616161;
    font-size: 14px;
    height: 55px;
    line-height: 18px;
	overflow: hidden;
}
.rs-17 .panel-group .product {
		width: 50%;
		padding-top: 10px;
		max-width: 405px;
		min-width: 318px;
		min-height: 405px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: url('../../img/border/border.svg') center no-repeat;
		background-size: 30%;
		margin-bottom: 30px;
		transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-webkit-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		-ms-transition: .5s ease-in-out;
		margin-right: 20px;
}
.rs-17 .panel-group .product:hover {
	background-size: 100%;
}
.rs-17 .panel-group .product:hover .product_inner__btn {
	opacity: 100%;
}
.rs-17 .panel-group .product__inner {
	width: 95%;
	padding-top: 10px;
	margin-top: -8px;
	cursor: pointer;
	box-sizing: border-box;
	min-height: 390px;
	position: relative;
	background: #fff;
}
.rs-17 .panel-group .product__inner .product_inner__img  {
	width: 199px;
	height: 199px;
	display: block;
	background-image: url("../../img/products/closeProduct.jpg");
	background-size: cover;
	transition: .10s;
	margin: 0 auto;
}
.rs-17 .panel-group .product:hover .product_inner__img {
  background-image: url("../../img/products/openProduct.jpg");
}
.rs-17 .panel-group .product__inner .product_inner__title {
	text-align: center;
	font-weight: 400;
	font-size: 1.30em;
	margin-bottom: 20px;
}
.rs-17 .panel-group .product__inner .product_inner__description {
 	text-align: center;
	font-weight: 500;
	width: 90%;
	margin: 0 auto;
	font-size: .90em;
}
.rs-17 .panel-group .product__inner .product_inner__price {
  font-weight: 500;
	text-align: center;
	font-size: 1em;
}
.product_inner__btn {
  display: block;
	position: absolute;
	background: #fff;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 350px;
	margin-top: 15px;
	width: 90%;
	transition: .5s;
	opacity: 0%;
	z-index: 999;
	height: 52px;
	border: 1px solid #000;
	text-align: center;
}
.rs-17 .panel-group .promotion {
	list-style: none;
	padding: 0;
	margin: 0;
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 0;
    height: 25px;
    width: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
.rs-17 .panel-group .promotion li{
	display: inline-block;
	margin-left: -4px;
}
.rs-17 .panel-group .promotion li:last-child{
	border-radius: 0 4px 4px 0;
}
.rs-17 .panel-group .new {
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    height: 100%;
    padding: 3px 10px;
	background-color: #4ec67f;
}
.rs-17 .panel-group .discount {
    background: #e64c3c;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 100%;
    padding: 3px 9px;
	text-transform: uppercase;
}
.rs-17 .panel-group  .price {
    font-size: 16px;
    font-weight:700;
    color: #424242;
	line-height: 1.5;
}
.rs-17 .panel-group .list-view .price,
.rs-17 .panel-group .list-view .action-control{
    text-align: right;
}
.rs-17 .panel-group .description .sub-description{
	font-weight: 300;
	color: #616161;
	line-height: 1.7;
}
.rs-17 .panel-group .list-view .description {
    margin: 0 auto;
    min-height: auto;
    max-width: 100%;
	text-align: right;
}
.rs-17 .panel-group .action-control {
    border: 0;
    display: block;
    height: auto;
    padding: 5px 0 15px;
    width: 100%;
}
.rs-17 .panel-group .action-control .btn-color{
	box-shadow: 0 2px 0 #49b575;
}
.rs-17 .panel-group .product:hover .btn-quickview {
    visibility: visible;
    opacity: 0.85;
    -webkit-opacity: 0.85;
    -ms-opacity: 0.85;
    transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
}
.rs-17 .panel-group .category-footer {
    border-top: solid 1px #eee;
    padding-top: 20px;
    margin-top: 0;
}
.rs-17 .panel-group .pagination > li > a,
.rs-17 .panel-group .pagination > li > span{
	font-size: 12px;
	color: #7c7c7c;
}
.rs-17 .panel-group .pagination{
	margin-top: 0;
	margin-bottom: 10px;
}
.rs-17 .panel-group .pagination > .active > a{
	background-color: #63dd95;
	border-color: #4ec67f;
	color: #fff;
	box-shadow: 0 0 9px rgba(0, 0, 0, 0.2) inset;
}
.rs-17 .panel-group .select2-container .select2-selection--single {
    height: 34px;
}
.rs-17 .panel-group .select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 34px;
	color: #424242;
}
.rs-17 .panel-group .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
}
.rs-17 .panel-group .priceFilterBody  .form-group {
    max-width: 30%;
    float: left;
}
.rs-17 .panel-group .priceFilterBody  .btn {
   background-color: #bdc3c7;
   color: #fff;
   text-shadow: 0 1px 0 #abb0b4;
   font-weight: 600;
   border: none;
   padding: 7px 12px;
}
.rs-17 .panel-group .priceFilterBody .sp {
    padding: 5px;
}
.rs-17 .panel-group .mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color: rgba(78, 198, 127, 0.5) !important;
	width: 8px;
}
.rs-17 .panel-group .mCS-dark-2.mCSB_scrollTools .mCSB_draggerRail{
	width: 8px;
}
.rs-17 .panel-group .panel-bottom{
	margin-top: 15px;
}
.rs-17 .panel-group .panel-bottom-block{
	padding-left: 0;
	padding-right:0;
}
.rs-17 .panel-group .panel-bottom .panel-bottom-block+.panel-bottom-block{
	padding-left: 15px;
}
.rs-17 .panel-group .panel-bottom-block .btn{
	width: 100%;
	font-weight: 600;
	padding: 6px 12px;
}
.rs-17 .panel-group .panel-bottom-block .btn-default{
	background-color: #bdc3c7;
    color: #fff;
    text-shadow: 0 1px 0 #abb0b4;
    border: none;
    padding: 7px 12px;
}
.rs-17 .panel-group .panel .panel_title {
	-webkit-font-size: 1em;
	-o-font-size: 1em;
	-moz-font-size: 1em;
	-ms-font-size: 1em;
	font-size: 1em;
	font-weight: 600;
	color: #586b89;
	-webkit-text-transform: uppercase;
	-o-tex-transform: uppercase;
	text-transform: uppercase;
	margin-bottom: 30px;
}
input[type=range] {
	outline: none;
	-webkit-appearance: none;
}
.rs-17 .panel-group .panel .panel-price_range {
	position: relative;
  margin-bottom: 30px;
}
.rs-17 .panel-group .panel .panel-price_range::-webkit-slider-runnable-track {
 	border-radius: 0;
	height: 1px;
	width: 100%;
	position: relative;
	background: #586b89;
}
.rs-17 .panel-group .panel .panel-price_range::-webkit-slider-thumb {
	margin-top: -5px;
	display: block;
	width: 10px;
	height: 1px;
	background: #586b89;
}
.rs-17 .panel-group .panel .panel-price_range::-ms-track {
 	border-radius: 0;
	height: 1px;
	width: 100%;
	background: #586b89;
}
.rs-17 .panel-group .panel .panel-price_range::-ms-thumb {
	margin-top: -5px;
	display: block;
	width: 10px;
	height: 1px;
	background: #586b89;
}
.rs-17 .panel-group .panel .panel-price_range::-moz-range-track {
 	border-radius: 0;
	height: 1px;
	width: 100%;
	background: #586b89;
}
.rs-17 .panel-group .panel .panel-price_range::-moz-range-thumb {
	margin-top: -5px;
	display: block;
	width: 10px;
	height: 1px;
	background: #586b89;
}
.rs-17 .panel-group .panel .panel-price_range::before {
	content: "";
	display: block;
	width: 15px;
	height: 1px;
	margin-left: -8px;
	background: #586b89;
	position: absolute;
	transform: rotate(90deg);
}
.rs-17 .panel-group .panel .panel-price_range::after {
	content: "";
	display: block;
	width: 15px;
	height: 1px;
	position: absolute;
	right: 0;
	margin-right: -8px;
	background: #586b89;
	position: absolute;
	transform: rotate(90deg);
}
.rs-17 .panel-group .panel .panel-price_count {
	display: flex;
	position: relative;
	grid-gap: 5px;
	font-size: .80em;
	-moz-word-spacing: 5px;
	font-weight: 400;
	color: #586b89;
}
.rs-17 .panel-group .panel .panel-price_accept-filter {
	text-transform: uppercase;
	color: #586b89;
	position: absolute;
	right: 0;
	cursor: pointer;
	user-select: none;
}
.rs-17 .panel-group .panel .panel-price_accept-filter:hover {
	text-decoration: underline;
}
.rs-17 .panel-group .panel .collapse__weight > div {
	display: flex;
}
.rs-17 .panel-group .panel .collapse__weight_item {
	width: 50%;
	height: inherit;
}
.rs-17 .panel-collapse .panel-body .collapse__weight_title {
	margin-bottom: 10px;
}
.rs-17 .panel-group .panel .collapse__weight_item .weight_item__field {
	list-style-type: none;
	display: flex;
	grid-gap: 8px;
	color: #586b89;
	font-size: .90em;
	font-weight: 400;
	align-items: center;
}
.rs-17 .panel-group .panel .collapse__weight_item .weight_item__field > .weight_item__checkbox + label {
	position: relative;
	cursor: pointer;
}
.rs-17 .panel-group .panel .collapse__weight_item .weight_item__field .weight_item__checkbox {
	width: 16px;
	height: 16px;
	display: block;
	-moz-margin-right: 10px;
	border: 1px solid #586b89;
	background: #fff;
	border-radius: 2px;
	margin-top: 3px;
}
.rs-17 .panel-group .panel .collapse__weight_item .weight_item__field .activeCheckbox::before {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	margin-top: 2px;
	margin-left: 2px;
	border-radius: 2px;
	background: #586b89;
}
.product-filter .pull-right  {
	display: flex;
}
.product-filter .pull-right .product-filter__select {
	box-sizing: border-box;
	font-size: 1em;
	height: 34px;
	max-width: 230px;
	width: 60%;
	position: relative;
	font-weight: 400;
	border-radius: 1px;
	align-items: center;
	padding-left: 20px;
	display: flex;
	border: 1px solid #586b89;
	cursor: pointer;
}
.product-filter .pull-right .product-filter__select > i {
	position: absolute;
	right: 0;
	margin-right: 10px;
}
.product-filter .pull-right .product-filter__select .product-filter__select_title {
	font-size: .90em;
	font-weight: 500;
	color: #586b89;
	margin-top: 2px;
	text-transform: uppercase;
}
.product-filter .pull-right .product-filter__select .product-filter__select_items {
	position: absolute;
	z-index: 99;
	background: #fff;
	width: 230px;
	display: none;
	margin-top: 210px;
	margin-left: -22px;
}
.product-filter .pull-right .product-filter__select .product-filter__select_items .select_items__item {
	width: 100%;
	height: 35px;
	padding-left: 23px;
	color: #586b89;
	text-transform: uppercase;
	font-size: .90em;
	display: flex;
	align-items: center;
}
.product-filter .pull-right .product-filter__select .product-filter__select_items .select_items__item:hover {
	background: #cccc;
}
@media (max-width: 1199px){
	.rs-17 .panel-group .priceFilterBody  .form-group{
		width: 100%;
		max-width: none;
	}
	.rs-17 .panel-group .priceFilterBody .sp{
		display: none;
	}
}
@media (max-width: 991px){
	.rs-17 .panel-group .priceFilterBody  .form-group{
		width: 50%;
		padding-left: 5px;
		padding-right: 5px;
	}
	.rs-17 .panel-group .panel-bottom .panel-bottom-block+.panel-bottom-block{
		padding-left: 0;
	}
	.rs-17 .panel-group .panel-bottom-block .btn{
		margin-bottom: 10px;
	}
}
@media (max-width: 767px){
	.rs-17 .panel-group .product-filter  .pull-left,
	.rs-17 .panel-group .product-filter .pull-right{
		float: none!important;
		text-align: left;
	}
	.rs-17 .panel-group .change-view{
		margin-top: 10px;
	}
	.rs-17 .panel-group .categoryProduct{
		margin-left: -15px;
		margin-right: -15px;
	}
	.rs-17 .panel-group .category-footer p{
		text-align: left;
	}

}
@media (max-width: 480px){
	.xsResponse .product-item {
		width: 100% !important;
	}
	.rs-17 .panel-group .list-view .product-image {
		display: block;
		float: none;
		max-height: 500px;
		max-width: 100%;
		overflow: hidden;
		padding-right: 0;
		text-align: center;
	}
	.rs-17 .panel-group .list-view .product{
		padding-right: 0;
	}
	.rs-17 .panel-group .list-view h4,
	.rs-17 .panel-group .list-view .description,
	.rs-17 .panel-group .list-view h4,
	.rs-17 .panel-group .list-view .price,
	.rs-17 .panel-group .list-view .action-control,
	.rs-17 .panel-group .list-view .description p {
		text-align: center;
	}
	.product-filter .pull-right .product-filter__select {
		margin-top: 11px;
		position: absolute;
		right: 15px;
	}
	.rs-17 .panel-group .product {
		margin: 0 auto;
	}
	.rs-17 .panel-group .category-footer {
		margin-left: 20px;
	}
}

@media only screen and (min-device-width: 481px) and (max-device-width: 600px) {
	.rs-17 .panel-group .product {
		margin: 0 auto;
	}
	.rs-17 .panel-group .category-footer {
		margin-left: 20px;
	}
	.product-filter .pull-right .product-filter__select {
		position: absolute;
		right: 0;
		margin-top: 5px;
		margin-right: 20px;
	}
}

@media only screen and (min-device-width: 601px) and (max-device-width: 1124px) {
	.rs-17 .panel-group .categoryProduct {
		flex-wrap: nowrap;
	}
}

@media only screen and (min-device-width: 601px) and (max-device-width: 3048px) {
	.product-filter .pull-right {
		width: 41%;
		max-width: 400px;
	}
	.product-filter .pull-right .product-filter__select {
		max-width: 252px;
		width: 84%;
	}
}
